{% extends 'hospital/base.html' %}
{% load static %}
{% block content %}
<br><br>
<body class="container">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <img src="{% static 'images/muia.jpg' %}" class="card-img-top rounded-circle" height="170px;" alt="MY IMAGE" >
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div><br><br>
      <p ><h2 style="text-align:center;">STAFF</h2></p>
      <div class="card-group">
        <div class="card">
          <img src="{% static 'images/pic.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><u>MANAGING DOCTOR</u></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'images/pic.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><u>DIRECTOR</u></h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'images/pic.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><u>VICE DIRECTOR</u></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><u>Vision</u></h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><u>Back To Society</u></h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
</body>
{% endblock %}