
{% block content %}
  <!-- Footer -->
  <footer class="container page-footer font-small stylish-color-dark pt-4">

	<!-- Footer Links -->
	<div class="container text-center text-md-left">

	  <!-- Grid row -->
	  <div class="row">

		<!-- Grid column -->

		<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-2 mx-auto">

		  <!-- Links -->
		  <h5 class="font-weight-bold text-white mt-3 mb-4">About us:</h5>

		  <ul class="list-unstyled">
			<li>
			  private hospital
			</li>
			<li>
			  launched on 17th sep 1999
			</li>
			<li>
			  best in heart suggery
			</li>
			<li>
			  medication experts
			</li>

		  </ul>

		</div>
		<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-2 mx-auto">

		  <!-- Links -->
		  <h5 class="font-weight-bold text-white mt-3 mb-4">Location:</h5>

		  <ul class="list-unstyled">
			<li>
			  Tom Mboya street
			</li>
			<li>
			  along Accra road
			</li>
			<li>
			  near Amani bookshop
			</li>
			<li>
			  174 miles from Thika road
			</li>
		  </ul>

		</div>
		<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-2 mx-auto">

		  <!-- Links -->
		  <h5 class="font-weight-bold text-white mt-3 mb-4">Contact us:</h5>

		  <ul class="list-unstyled">
			<li>
			+25422222777/33888778
			</li>
			<li>
			email:agakahosp.com
			</li>
			<li>
			twitter:@agakan.com
			</li>
			<li>
			  insta:@agakhan.com
			</li>
			</li>
		  </ul>

		</div>
		<!-- Grid column -->

	  </div>
	  <!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<hr>

	<!-- Call to action -->

	<!-- Call to action -->

	<hr>

	<!-- Social buttons -->
	<ul class="list-unstyled list-inline text-center">
	  <li class="list-inline-item">
		<a class="btn-floating btn-fb mx-1">
		  <i class="fab fa-facebook-f"> </i>
		</a>
	  </li>
	  <li class="list-inline-item">
		<a class="btn-floating btn-tw mx-1">
		  <i class="fab fa-twitter"> </i>
		</a>
	  </li>
	  <li class="list-inline-item">
		<a class="btn-floating btn-gplus mx-1">
		  <i class="fab fa-google-plus-g"> </i>
		</a>
	  </li>
	  <li class="list-inline-item">
		<a class="btn-floating btn-li mx-1">
		  <i class="fab fa-linkedin-in"> </i>
		</a>
	  </li>
	  <li class="list-inline-item">
		<a class="btn-floating btn-dribbble mx-1">
		  <i class="fab fa-dribbble"> </i>
		</a>
	  </li>
	</ul>
	<!-- Social buttons -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2020 Copyright:
	  <a href="https://mdbootstrap.com/">Agakhanhospital.com</a>
	</div>
	<!-- Copyright -->

  </footer>
  <!-- Footer -->
{% endblock %}