
{% block content %}

<nav class="container navbar  navbar-expand-lg fixed-top navbar-dark scrolling-navbar>
	<a class="navbar-brand waves-effect text-blue" href="{% url 'index' %}" target="_blank">Aga-Khan</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'index' %}">Home</a>
		</li>

		<li class="nav-item active">
			<a class="nav-link" href="{% url 'about' %}">About</a>
		  </li>

		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'appointment' %}">Appointment</a>
		  </li>

		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'service' %}">Service</a>
		  </li>
          {% if user.is_authenticated %}
		  <li class="nav-item active">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		  </li>
			{% else %}
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'signup' %}">Register</a>
			  </li>

			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			  </li>
			{% endif %}
		</ul>
	  <form class="form-inline my-2 my-lg-0 action="{% url 'search_results' %}" method="get">
		<input class="form-control mr-sm-2 " type="search" placeholder="Search for" aria-label="Search" name="q">
	  </form>
	</div>
  </nav>
{% endblock %}